.idea
__pycache__
images/
Task3_images/
Jupyter_notebook/.ipynb_checkpoints
Jupyter_notebook/archive(1)/
Jupyter_notebook/archive(1)data
Jupyter_notebook/car
Jupyter_notebook/data
Jupyter_notebook/images
Jupyter_notebook/object_detection
Jupyter_notebook/binary_blur.png
Jupyter_notebook/binary_blur2.png
Jupyter_notebook/binary.png
Jupyter_notebook/custom_document_model.h5
Jupyter_notebook/en-default.pyrnn.gz
Jupyter_notebook/en-default.pyrnn.gz.1
Jupyter_notebook/image.jpg
Jupyter_notebook/image.txt
Jupyter_notebook/no_shadow.png
Jupyter_notebook/norm_shadow.png
Jupyter_notebook/object_detection.h5
Jupyter_notebook/thresh.png
Jupyter_notebook/bw.png
OCR/__pycache__/
OCR/images/
OCR/models/
OCR/license.jpg
OCR/shadowless_image.jpg
ui/node_modules/
